h3{
    color: rgb(120,165,219);
}
.introduction{
    color: white;
    background-color: #2a3a68;
    height: 230px;
    font-size: 20;
}
.contact{
    color: white;
    background-color: #032543;
}
img{
width: 200px ;
height: 200px;
float: right;
display: flex;
border-radius:50%;
border:5px solid rgb(120,165,219);
}
.contactus{
    display: flex;
    list-style-type: none;
}
li{ 
    font-size: 20;
    padding-right: 65px;
}
td{
    padding-right: 150px;
}
u{
    color: #1a9a9a;
}
input{
    border: 0px;
    border-radius: 20%;
    width: 100px;
    height: 30px;
    background-color: rgb(67, 65, 65);
    color: white;
}
.lang{
    color: #1a9a9a;
    padding-right: 20px;
}
.l{padding-right: 20px;
    }
a{
    color: white;
}